In [8]:

import pandas as pd

In [9]:
Download_df=pd.read_csv('C:/Users/sadik/OneDrive - Pace University/Desktop/Youtube Channel Analysis/Downloads/Download.csv',index_col=False)

In [10]:
Download_df.isnull().any()

video_id          False
channelTitle      False
title             False
description        True
tags               True
publishedAt       False
viewCount         False
likeCount         False
favouriteCount     True
commentCount       True
duration          False
definition        False
caption           False
dtype: bool

In [11]:
# Check data types
Download_df.dtypes

video_id           object
channelTitle       object
title              object
description        object
tags               object
publishedAt        object
viewCount           int64
likeCount           int64
favouriteCount    float64
commentCount      float64
duration           object
definition         object
caption              bool
dtype: object

In [12]:
# Convert count columns to numeric
numeric_cols = ['viewCount', 'likeCount', 'favouriteCount', 'commentCount']
Download_df[numeric_cols] = Download_df[numeric_cols].apply(pd.to_numeric, errors = 'coerce', axis = 1)

In [13]:
# Publish day in the week
Download_df['publishedAt']=Download_df['publishedAt'].astype(str)
Download_df['publishedAt'] = Download_df['publishedAt'].apply(lambda x: parser.parse(x))
Download_df['publishDayName'] = Download_df['publishedAt'].apply(lambda x: x.strftime("%A"))#%%
from googleapiclient.discovery import build
from dateutil import parser
import pandas as pd

In [14]:
# convert duration to seconds
import isodate
Download_df['durationSecs'] = Download_df['duration'].apply(lambda x: isodate.parse_duration(x))
Download_df['durationSecs'] = Download_df['durationSecs'].astype('timedelta64[s]')

In [15]:
Download_df[['durationSecs', 'duration']]#%%

      durationSecs  duration
0           2336.0  PT38M56S
1           2601.0  PT43M21S
2           1328.0   PT22M8S
3           2258.0  PT37M38S
4           1249.0  PT20M49S
...            ...       ...
2256         453.0   PT7M33S
2257         350.0   PT5M50S
2258         303.0    PT5M3S
2259         345.0   PT5M45S
2260         160.0   PT2M40S

[2261 rows x 2 columns]

In [16]:
# Publish day in the week
Download_df['publishedAt']=Download_df['publishedAt'].astype(str)
Download_df['publishedAt'] = Download_df['publishedAt'].apply(lambda x: parser.parse(x))
Download_df['publishDayName'] = Download_df['publishedAt'].apply(lambda x: x.strftime("%A"))#%%

In [17]:
# convert duration to seconds
import isodate
Download_df['durationSecs'] = Download_df['duration'].apply(lambda x: isodate.parse_duration(x))
Download_df['durationSecs'] = Download_df['durationSecs'].astype('timedelta64[s]')

In [18]:
Download_df[['durationSecs', 'duration']]
Download_df

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption,publishDayName,durationSecs
0,HZ8uXq5VG2w,Corey Schafer,Python Tutorial: Simulate the Powerball Lotter...,"In this Python Programming video, we will be l...","['python', 'lottery', 'powerball', 'simulation...",2023-01-09 18:45:00+00:00,97171.0,3556.0,NaN,768.0,PT38M56S,hd,False,Monday,2336.0
1,vQQEaSnQ_bs,Corey Schafer,Python YouTube API Tutorial: Using OAuth to Ac...,"In this Python Programming Tutorial, we'll be ...","['python', 'youtube api', 'youtube-api', 'yout...",2020-09-10 14:15:03+00:00,126318.0,2499.0,NaN,353.0,PT43M21S,hd,False,Thursday,2601.0
2,1KO_HZtHOWI,Corey Schafer,Python YouTube API Tutorial: Sort a Playlist b...,"In this Python Programming Tutorial, we'll be ...","['python', 'youtube api', 'youtube-api', 'yout...",2020-07-31 14:30:00+00:00,42126.0,1068.0,NaN,128.0,PT22M8S,hd,False,Friday,1328.0
3,coZbOM6E47I,Corey Schafer,Python YouTube API Tutorial: Calculating the D...,"In this Python Programming Tutorial, we'll be ...","['python', 'youtube api', 'youtube-api', 'pyth...",2020-06-10 15:53:26+00:00,50394.0,1509.0,NaN,179.0,PT37M38S,hd,False,Wednesday,2258.0
4,th5_9woFJmk,Corey Schafer,Python YouTube API Tutorial: Getting Started -...,"In this Python Programming Tutorial, we'll be ...","['python', 'youtube api', 'youtube-api', 'pyth...",2020-05-29 16:17:07+00:00,174028.0,5199.0,NaN,324.0,PT20M49S,hd,False,Friday,1249.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2256,4rfr6A3lO-Y,Alex The Analyst,Data Analyst Resume | Reviewing My Resume! | F...,Data Analyst Resume | Reviewing My Resume! | F...,"['Data Analyst', 'How to become a data analyst...",2020-01-30 14:07:55+00:00,60275.0,1476.0,NaN,64.0,PT7M33S,hd,False,Thursday,453.0
2257,OTq2NRy_AGs,Alex The Analyst,Working at a Big Company Vs Small Company | To...,Working at a Big Company Vs Small Company | To...,"['Data Analyst', 'How to become a Data Analyst...",2020-01-25 16:38:39+00:00,13253.0,366.0,NaN,21.0,PT5M50S,hd,False,Saturday,350.0
2258,ya28cb3zFGE,Alex The Analyst,Data Analyst Salary | 100k with No Experience,Data Analyst Salary | 100k with No Experience ...,"['Data Analyst Salary', 'Data analyst with no ...",2020-01-23 03:16:09+00:00,56732.0,2004.0,NaN,224.0,PT5M3S,hd,False,Thursday,303.0
2259,Hsi2BG0SOiQ,Alex The Analyst,Truth About Big Companies | Told by a Fortune ...,Truth About Big Companies // There are a ton o...,"['Working at a big company', 'Big company data...",2020-01-21 03:52:15+00:00,7048.0,269.0,NaN,17.0,PT5M45S,hd,False,Tuesday,345.0
2260,6lQzbk6_OTw,Alex The Analyst,Top 3 Data Analyst Skills in 2020,Top 3 Data Analyst Skills in 2020 // There are...,"['Top skills for data analyst', 'Top 3 skills ...",2020-01-17 14:31:39+00:00,25781.0,1282.0,NaN,137.0,PT2M40S,hd,False,Friday,160.0

In [19]:
Download_df['tags']=Download_df['tags'].astype(str)

In [20]:
# Add tag count
Download_df['tagCount'] = Download_df['tags'].apply(lambda x: 0 if x is None else len(x))

In [21]:
# Comments and likes per 1000 view ratio
Download_df['likeRatio'] = Download_df['likeCount']/ Download_df['viewCount'] * 1000
Download_df['commentRatio'] = Download_df['commentCount']/ Download_df['viewCount'] * 1000

In [22]:
# Title character length
Download_df['titleLength'] = Download_df['title'].apply(lambda x: len(x))

In [23]:
Download_df.to_csv('C:/Users/sadik/OneDrive - Pace University/Desktop/Youtube Channel Analysis/Downloads/Final.csv',index=False)