In [4]:
import time

from google.cloud import bigquery
import pandas as pd
from google.oauth2 import service_account
import os
import time

In [5]:
key_path= "opportune-balm-340813-cf5a94af05bc.json"
project_id="opportune-balm-340813"
dataset_id = "Youtube_Analytics"
table="Youtube Comments"
table_id="{}.{}.{}".format(project_id, dataset_id, table)
print("********* NAME OF TABLE IS", table_id)

********* NAME OF TABLE IS opportune-balm-340813.Youtube_Analytics.Youtube Comments

In [19]:
def load_table_dataframe(key_path,project_id,table_id):
    credentials = service_account.Credentials.from_service_account_file(
        key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
    )

    # Construct a BigQuery client object.
    client = bigquery.Client(credentials=credentials, project=project_id)


    df = pd.read_csv('C:/Users/sadik/OneDrive - Pace University/Desktop/Youtube Channel Analysis/Downloads/Final.csv')
    job_config = bigquery.LoadJobConfig(
        write_disposition="WRITE_TRUNCATE")

    job = client.load_table_from_dataframe(
        df, table_id, job_config=job_config
    )
    job.result()
    data = client.get_table(table_id)
    return data

data = load_table_dataframe(key_path,project_id, table_id)

data

Table(TableReference(DatasetReference('opportune-balm-340813', 'Youtube_Analytics'), 'Youtube Comments'))

In [20]:
credentials = service_account.Credentials.from_service_account_file(
    key_path, scopes=["https://www.googleapis.com/auth/cloud-platform"],
)

In [21]:
client=bigquery.Client(credentials=credentials,project=project_id)
query='SELECT * FROM `opportune-balm-340813.Youtube_Analytics.Youtube Comments` LIMIT 1000'
job=client.query(query)


if job.state=='DONE':
    result=job.to_dataframe()
else:
    print(job.result())

result

,video_id,channelTitle,title,description,tags,publishedAt,viewCount,likeCount,favouriteCount,commentCount,duration,definition,caption,publishDayName,durationSecs,tagCount,likeRatio,commentRatio,titleLength
0,1KO_HZtHOWI,Corey Schafer,Python YouTube API Tutorial: Sort a Playlist b...,"In this Python Programming Tutorial, we'll be ...","['python', 'youtube api', 'youtube-api', 'yout...",2020-07-31 14:30:00+00:00,42126.0,1068.0,NaN,128.0,PT22M8S,hd,False,Friday,1328.0,407,25.352514,3.038504,67
1,th5_9woFJmk,Corey Schafer,Python YouTube API Tutorial: Getting Started -...,"In this Python Programming Tutorial, we'll be ...","['python', 'youtube api', 'youtube-api', 'pyth...",2020-05-29 16:17:07+00:00,174028.0,5199.0,NaN,324.0,PT20M49S,hd,False,Friday,1249.0,370,29.874503,1.861769,87
2,txMdrV1Ut64,Corey Schafer,Python Pandas Tutorial (Part 8): Grouping and ...,"In this video, we will be learning how to grou...","['python', 'pandas', 'grouping', 'aggregating'...",2020-02-14 14:38:33+00:00,329040.0,8015.0,NaN,615.0,PT49M6S,hd,False,Friday,2946.0,410,24.358741,1.869074,93
3,DCDe29sIKcE,Corey Schafer,Python Pandas Tutorial (Part 5): Updating Rows...,"In this video, we will be learning how to upda...","['python', 'pandas', 'pandas tutorial', 'panda...",2020-01-24 19:15:01+00:00,294049.0,7162.0,NaN,289.0,PT40M3S,hd,False,Friday,2403.0,517,24.356485,0.982829,93
4,Lw2rlcxScZY,Corey Schafer,Python Pandas Tutorial (Part 4): Filtering - U...,"In this video, we will be learning how to filt...","['pandas', 'python', 'pandas filter rows by co...",2020-01-17 14:00:06+00:00,330237.0,8383.0,NaN,276.0,PT23M4S,hd,False,Friday,1384.0,353,25.384799,0.835763,90
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,SMDwMWTkxzs,Krish Naik,StackOverflow Developer Survey 2020 Overview,stackoverflow url: https://insights.stackoverf...,"['data science tutorial javatpoint', 'data sci...",2020-05-30 12:53:00+00:00,2195.0,75.0,NaN,13.0,PT15M58S,hd,False,Saturday,958.0,400,34.168565,5.922551,44
996,D-a6dwXzJ6s,Krish Naik,Bidirectional RNN Indepth Intuition- Deep Lear...,Complete Deep Learning Playlist: https://www.y...,"['data science tutorial javatpoint', 'data sci...",2020-05-30 04:30:13+00:00,44819.0,1146.0,NaN,30.0,PT7M54S,hd,False,Saturday,474.0,401,25.569513,0.669359,59
997,UbvkhuqVqUI,Krish Naik,Lets Implement LSTM RNN Models For Univariate ...,"In this tutorial, we will explore how to devel...","['data science tutorial javatpoint', 'data sci...",2020-05-23 12:19:22+00:00,82276.0,1457.0,NaN,122.0,PT21M38S,hd,False,Saturday,1298.0,398,17.708688,1.482814,84
998,ipFUANeStYE,Krish Naik,Docker Tutorial 2- Building A Flask App For A ...,Docker is a set of platform as a service produ...,"['data science tutorial javatpoint', 'data sci...",2020-05-16 12:44:26+00:00,54891.0,1229.0,NaN,135.0,PT29M31S,hd,False,Saturday,1771.0,353,22.389827,2.459420,70
999,niaI15AuYTA,Krish Naik,Successful Transition Story From Mechanical En...,Machine Learning involves a lot of programming...,"['data science tutorial javatpoint', 'data sci...",2020-05-16 03:30:45+00:00,50236.0,1523.0,NaN,186.0,PT12M37S,hd,False,Saturday,757.0,332,30.316904,3.702524,72

In [22]:
client=bigquery.Client(credentials=credentials,project=project_id)
query='Select MAX (likeCount) from `opportune-balm-340813.Youtube_Analytics.Youtube Comments`'
job=client.query(query)


if job.state=='DONE':
    result=job.to_dataframe()
else:
    print(job.result())

result

        f0_
0  176037.0

In [23]:
result
client = bigquery.Client(credentials=credentials, project=project_id)
query = 'Select AVG (likeCount) from `opportune-balm-340813.Youtube_Analytics.Youtube Comments`'
job = client.query(query)

if job.state == 'DONE':
    result = job.to_dataframe()
else:
    print(job.result())

result

           f0_
0  2466.788147

In [24]:
result
client = bigquery.Client(credentials=credentials, project=project_id)
query = 'select title,durationSecs,title,likeCount from `opportune-balm-340813.Youtube_Analytics.Youtube Comments` order by likeCount desc limit 5;'
job = client.query(query)

if job.state == 'DONE':
    result = job.to_dataframe()
else:
    print(job.result())

result

,title,durationSecs,title_1,likeCount
0,How I would learn to code (if I could start over),807.0,How I would learn to code (if I could start over),176037.0
1,Become a DATA ANALYST with NO degree?!? The Go...,696.0,Become a DATA ANALYST with NO degree?!? The Go...,106834.0
2,Python OOP Tutorial 1: Classes and Instances,924.0,Python OOP Tutorial 1: Classes and Instances,101657.0
3,How I consistently study with a full time job ...,953.0,How I consistently study with a full time job ...,93252.0
4,How to self study technical things,974.0,How to self study technical things,70829.0

In [25]:
result
client = bigquery.Client(credentials=credentials, project=project_id)
query = 'select title,durationSecs,title,likeCount from `opportune-balm-340813.Youtube_Analytics.Youtube Comments` order by likeCount desc limit 5;'
job = client.query(query)

if job.state == 'DONE':
    result = job.to_dataframe()
else:
    print(job.result())

result

,title,durationSecs,title_1,likeCount
0,How I would learn to code (if I could start over),807.0,How I would learn to code (if I could start over),176037.0
1,Become a DATA ANALYST with NO degree?!? The Go...,696.0,Become a DATA ANALYST with NO degree?!? The Go...,106834.0
2,Python OOP Tutorial 1: Classes and Instances,924.0,Python OOP Tutorial 1: Classes and Instances,101657.0
3,How I consistently study with a full time job ...,953.0,How I consistently study with a full time job ...,93252.0
4,How to self study technical things,974.0,How to self study technical things,70829.0

In [26]:
query='WITH ntile_80 AS ( SELECT title, viewCount, likeCount, commentCount, NTILE(100) OVER (ORDER BY likeCount) AS percentile_rank FROM `Youtube_Analytics.Youtube Comments` ) SELECT title, viewCount, likeCount, commentCount FROM ntile_80 WHERE percentile_rank <= 80;'

In [27]:
result
client = bigquery.Client(credentials=credentials, project=project_id)
query = query

if job.state == 'DONE':
    result = job.to_dataframe()
else:
    print(job.result())

result

,title,durationSecs,title_1,likeCount
0,How I would learn to code (if I could start over),807.0,How I would learn to code (if I could start over),176037.0
1,Become a DATA ANALYST with NO degree?!? The Go...,696.0,Become a DATA ANALYST with NO degree?!? The Go...,106834.0
2,Python OOP Tutorial 1: Classes and Instances,924.0,Python OOP Tutorial 1: Classes and Instances,101657.0
3,How I consistently study with a full time job ...,953.0,How I consistently study with a full time job ...,93252.0
4,How to self study technical things,974.0,How to self study technical things,70829.0